body{
    text-align: center;
}
div{
    margin: 10px;
    width: 18%;
    height: 110px;
    padding: 10px 10px 10px 0px ;
    display: inline-block;
}
ol{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    list-style: none;
    font-size: 30px;
    background-color: rgb(250, 191, 102);
    height: 160px;

}
a{
    margin: 0px 0px 0px 0px;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-bottom: 10px solid rgb(240, 139, 45);
    border-top: 10px solid rgba(240, 139, 45, 0);
    transition: border 0.7s, color 1.5s; 
}

a:hover {
    color: rgb(35, 12, 15);
    border-bottom-color: transparent; 
    border-top: 10px solid rgb(240, 139, 45);
}
